.App {
    overflow-y: auto;
  }

.header-div {
    background-image: url("https://images.pexels.com/photos/7130475/pexels-photo-7130475.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"); 
    background-position: center center; 
    background-size: cover; 
    color: white;
    height: 100vh;
    background-attachment: fixed;
    overflow-y: auto;
}
.header {
    display: flex;
    min-height: 40vh;
    align-items: center;
}

.header .logo{
    width: 30vw;
    margin: 0 10%;
}

.box {
    margin: 20px;
}
.box .btn{
    height: 50px;
    margin: 8px;
    font-weight: 700;
    font-size: large;
}

.front-banner {
    display: flex;
    align-items: center;
    height: 60vh;
}
.front-banner-content {
    width: 59vw;
    margin: 0 10%;
}
.front-banner-content-heading {
    font-size: 4.5rem;
    font-weight: 700;
}
.front-banner-image {
    width : 35vw;
    height: 100%;
    justify-content: center;
}
.bottom-right-image {
    position: absolute;
    width: 40%;
    bottom: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  .sponser_hed{
    margin: 0 10%;
    padding: 30px 0!important;
}

.Sponser-div {
    min-height: auto;
}

.card-container{
    width: 23%;
}

.sponser-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10%;
    gap: 20px;
}

.Welcome-div {
    padding: 30px 5%;
    background-image: url('https://www.aaonlinebook.com/images/baner-2.jpg');
    background-position: center center; 
    background-size: 100% 100%; 
    color: white;
}

.footer {
    padding: 20px 0px;
    margin: 0;
}

.Rotor-div {
    display: flex;
    color: white;
    background-image: linear-gradient(90deg, #AA2318 5.66%, #000000 94.35%);
    min-height: 70vh;
    align-items: center;
    justify-content: space-around;
    padding: 30px 0px;
}
.Rotor-line {
    width: 200px;
    border-bottom: 5px solid yellow; 
}

.Rotor-box1 {
    width: 40vw;
}
.Rotor-box1 .btn {
    
    margin: 10px 10px;
}
.Rotor-box2 {
    width: 40vw;
}


#wheel {
    position: relative;
    max-width: 425px;
}
#wheel-img {
    width: 100%;
    height: 100%;
}

.cust-sup-div {
    background-image: url('https://www.aaonlinebook.com/images/baner-2.jpg');
    background-position: center center; 
    background-size: cover; 
    height: 80vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.cs-box1 {
    width: 50vw;
}
.cs-box2 {
    width: 25vw;
}

.games-div {
    height: auto;
    color: white;
    text-align: center;
    background-image: linear-gradient(90deg, #B32519 5.66%, #000000 94.35%);
}
.games-div .btn{
    margin: 20px;

}
.games-heading {
    padding-top: 30px;
}
.games-content {
    font-size: 35px;
    margin: 0 10%;
    padding: 20px 0;
}
.games-message{
    font-weight: 700;
    font-size: larger;
}
.games-line {
    margin: auto;
}
.games-logo-container {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 10%;
}

.carouselExampleControls {
    display: flex;
    flex-direction: row;
}
.center-image {
    display: block;
    margin: 0 auto;
  }

.carosal-heading {
    padding: 4rem;
}
.carosal-heading h1{
    margin-bottom: 3rem;
}

.instagram-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 100px 0;
}
.insta-icons{
    width: 240px;
}

.contact-outer-div {
    padding: 100px;
}
.contact-container {
    display: flex;
}
.contact-box1 {
    width: 50vw;
    text-align: center;
}
.contact-box2 {
    width: 50vw;
}
.contact-content {
    font-size: 20px;
    font-weight: bolder;
    display: flex;
}


/* Responsiveness for Desktop */
@media only screen and (min-width: 1025px) {
    /* Styles for desktop */


    .Rotor-box0{
        display: none;
    }
  }  

/* Responsiveness for Tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Styles for tablet */

  .Rotor-box0{
    display: none;
}
}


/* Responsiveness for Mobile */
@media only screen and (max-width: 767px) {
    /* Styles for mobile */
    .header {
        display: flex;
        flex-direction: column;
    }
    .logo img{
        height: 150px;
    }

    .box {
        margin: 20px;
        text-align: center;
    }
    .box .btn{
        width: 100%;
        height: 50px;
        margin: 8px;
    }

    .front-banner{
        flex-direction: column;
    }

    .front-banner-image {
        width : 90vw;
        height: 100%;
        text-align: center;
    }

    .bottom-right-image {
        position: static;
        margin-top: 20px;
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    .front-banner-content {
        width: 100%;
        text-align: center;
    }
    .front-banner-content-heading {
        font-size: 2.5rem;
        font-weight: 700;
        text-align: center;
    }

    .Sponser-div {
        min-height: auto;
    }
    .sponser_hed{
        padding: 50px 0 !important;
        margin: 0;
    }
    .card-container{
        width: 45%;
    }
    
    .sponser-list {
        justify-content: center;
    }

    .Rotor-div{
        flex-direction: column;
        height: auto;
    }
    .rotor_hed{
        width: 100%!important;
        font-weight: 700!important;
    }
    .Rotor-box0{
        padding-bottom: 30px;
    }
    .Rotor-box1{
        width: 100%;
        text-align: center;
        align-items: center;
        padding: 0 10%;

    }
    .Rotor-box1 h3{
        font-size:large;
        padding: 20px 0;
    }
    .Rotor-box2{
        display: none;
    }
    .Rotor-line{
        margin: auto;
    }
    .rotortext{
        font-size: 1.5rem;
    }
    .Rotor-box1 .btn{
        display: block;
        margin: 10px 10px;
        width: 80vw;
        font-weight: 700;
        height: 50px;
    }

    .cust-sup-div{
        flex-direction: column;
        height: auto;
    }
    .supt_hed{
        padding: 10px 0;
    }
    .cs-box1 {
        width: 100%;
        text-align: center;
        padding: 30px;
    }
    .custbtn .btn{
        width: 100%;
        font-weight: 700;
        height: 50px;
    }
    .cs-box2 {
        width: 90%;
        text-align: center;
    }
    .cs-box2 img{
        width: 80%;
    }

    .games-div{
        height: auto;

    }
    
    .games-div .btn{
        display: block;
        width: 90vw;
        font-weight: 700;
        height: 50px;
        margin-bottom: 30px;
    }
    .games-div h2{
        padding: 20px 0;
    }
    .games-logo-container{
        flex-direction: column;
        align-items: center;

    }
    .games-logo-container .card-container{
        width: 60%;
    }
    .games-content{
        font-size: large;
        padding: 5px 0;
        margin: 0 5%;
    }
    .center-image{
        width:100%
    }

    .instagram-container{
        flex-direction: column;
        align-items: center;
        padding: 40px 0;
    }
    .insta-icons{
        text-align: center;
        width: 100vw;
        height: auto;
        background-color: white;
    }

    .contact-container{
        flex-direction: column;
        align-items: center;
    }
    .contact-outer-div {
        padding: 10px;
    }
    .contact-box1{
        width: 100%;
    }
    .contact-box2{
        width: 100%;
        text-align: center;
    }
    .contact-content{
        justify-content: center;
        padding: 20px 0;
    }

    .contact-box2 .btn{
        display: block;
        width: 90vw;
        font-weight: 700;
        height: 50px;
        margin-bottom: 10px;
    }

    
  }
  
