
.header-div {
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20230630/pngtree-gold-and-black-casino-roulette-with-3d-rendering-illustration-image_3727105.jpg"); 
    background-position: center center; 
    background-size: cover; 
    color: white;
    height: 100vh;
    background-attachment: fixed;
}
/* new index page style */
.WrapperTransparent{
    background-color: #00000085;
    width: 100%;
    height: 100%;
    display: flex;
  }
  .frontLeft{
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .frontLeft .logo img{
    object-fit: cover;
    height: 900px;
  }
  .frontRight{
    width: 60vw;
    margin: auto 0;
  }
/* new index page style end */

.header {
    display: flex;
    min-height: 40vh;
    align-items: center;
}

.header .logo{
    margin: 0 10%;
}

.box {
    margin: 20px;
}
.box .btn{
    height: 50px;
    margin: 8px;
    font-weight: 700;
    font-size: large;
}

.front-banner {
    display: flex;
    align-items: center;
    height: 60vh;
}
.front-banner-content {
    width: 60vw;
    margin: 0 10%;
}

/* style for all Golden headeings */
.front-banner-content-heading {
    font-size: 4.5rem;
    font-weight: 700;
    background-image: repeating-linear-gradient(to right, #a2682a 0%, #be8c3c 8%, #be8c3c 18%, #d3b15f 27%, #faf0a0 35%, #ffffc2 40%, #faf0a0 50%, #d3b15f 58%, #be8c3c 67%, #b17b32 77%, #bb8332 83%, #d4a245 88%, #e1b453 93%, #a4692a 100%);
  background-size: 150%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 80px;
  font-weight: 200;
  font-family: "Yantramanav";
  filter: drop-shadow(0 0 1px rgba(255, 200, 0, .3));
  animation: MoveBackgroundPosition 6s ease-in-out infinite;
}
@keyframes MoveBackgroundPosition { 
    0% {
        background-position: 0% 50%
    }
    
    50% {
      background-position: 100% 50%
    }
    
    100% {
      background-position: 0% 50%
    }
  }

/* Style for Golden buttons */
.golden-btn + .golden-btn { margin-top: 1em; }

.golden-btn {
  display: inline-block;
  outline: none;
  font-family: inherit;
  font-size: 1em;
  box-sizing: border-box;
  border: none;
  border-radius: .3em;
  height: 2.75em;
  line-height: 2.5em;
  text-transform: uppercase;
  padding: 0 1em;
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
              inset 0 -2px 5px 1px rgba(139,66,8,1),
              inset 0 -1px 1px 3px rgba(250,227,133,1);
  background-image: linear-gradient(160deg, #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);
  border: 1px solid #a55d07;
  color: rgb(120,50,5);
  text-shadow: 0 2px 2px rgba(250, 227, 133, 1);
  cursor: pointer;
  transition: all .2s ease-in-out;
  background-size: 100% 100%;
  background-position:center;
}
.golden-btn:focus,
.golden-btn:hover {
  background-size: 150% 150%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23),
                inset 0 -2px 5px 1px #b17d10,
                inset 0 -1px 1px 3px rgba(250,227,133,1);
  border: 1px solid rgba(165,93,7,.6);
  color: rgba(120,50,5,.8);
}
.golden-btn:active {
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
              inset 0 -2px 5px 1px #b17d10,
                inset 0 -1px 1px 3px rgba(250,227,133,1);
}


/* Below is the normal style */


.front-banner-image {
    width : 35vw;
    height: 100%;
    justify-content: center;
}
.bottom-right-image {
    position: absolute;
    height: 60%;
    bottom: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  .sponser_hed{
    margin: 0 10%;
    padding: 30px 0!important;
}

.Sponser-div {
    min-height: auto;
}

.card-container{
    width: 23%;
}

.sponser-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10%;
    gap: 20px;
}

.Welcome-div {
    padding: 30px 5%;
    background-image: url('https://www.aaonlinebook.com/images/baner-2.jpg');
    background-position: center center; 
    background-size: cover; 
    background-attachment: fixed;
    color: white;
    padding: 2% 10%;
    margin: 0;
}
.whyhead{
    text-align: center;
}
.whybox{
    display: flex;
}
.wbox{
    width: 50%;
    margin: auto;
    font-size: 1.2rem;
    list-style:circle;
    font-weight: 500;
}

.footer {
    padding: 20px 0px;
    margin: 0;
}

.golden-background{
    background: radial-gradient(ellipse at center, #7d6304 0%,#000000 100%);
}


.Rotor-div {
    display: flex;
    color: white;
    min-height: 70vh;
    align-items: center;
    justify-content: space-around;
    padding: 30px 0px;
}
.Rotor-line {
    width: 200px;
    border-bottom: 5px solid yellow; 
}

.Rotor-box1 {
    width: 40vw;
}
.Rotor-box1 .btn {
    font-weight: 700;
    margin: 10px 10px;
}
.Rotor-box2 {
    width: 40vw;
}


#wheel {
    position: relative;
    max-width: 425px;
}
#wheel-img {
    width: 100%;
    height: 100%;
}

.cust-sup-div {
    background-image: url('https://www.aaonlinebook.com/images/baner-2.jpg');
    background-position: center center; 
    background-size: cover; 
    height: 80vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-attachment: fixed;
}
.cs-box1 {
    width: 50vw;
}
.cs-box2 {
    width: 25vw;
}
.custbtn button{
    font-weight: 700;
}

.games-div {
    height: auto;
    color: white;
    text-align: center;
    padding-bottom: 20px;
}
.games-div .btn{
    margin: 20px;
    font-weight: 700;
}
.games-heading {
    padding-top: 30px;
}
.games-content {
    font-size: 35px;
    margin: 0 10%;
    padding: 20px 0;
}
.games-message{
    font-weight: 700;
    font-size: larger;
}
.games-line {
    margin: auto;
}
.games-logo-container {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 10%;
}

.carouselExampleControls {
    display: flex;
    flex-direction: row;
}
.center-image {
    display: block;
    margin: 0 auto;
  }

.carosal-heading {
    padding: 4rem;
}
.carosal-heading h1{
    margin-bottom: 3rem;
}

.instagram-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 100px 0;
}
.insta-icons{
    width: 240px;
}

.contact-outer-div {
    padding: 100px;
}
.contact-container {
    display: flex;
}
.contact-box1 {
    width: 50vw;
    text-align: center;
}
.contact-box2 {
    width: 50vw;
}
.contact-box2 .btn {
    font-weight: 700;
    margin: 0 10px 10px 0;
}
.contact-content {
    font-size: 20px;
    font-weight: bolder;
    display: flex;
}


/* Responsiveness for Desktop */
@media only screen and (min-width: 1025px) {
    /* Styles for desktop */


    .Rotor-box0{
        display: none;
    }
  }  

/* Responsiveness for Tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Styles for tablet */

  .Rotor-box0{
    display: none;
}
}


/* Responsiveness for Mobile */
@media only screen and (max-width: 767px) {
    /* Styles for mobile */
    .header-div{
        height: auto;
    }
    .header {
        display: flex;
        flex-direction: column;
    }
    
    .logo img{
        height: 200px;
    }

    .box {
        margin: 20px;
        text-align: center;
    }
    .box .btn{
        width: 100%;
        height: 50px;
        margin: 8px;
    }

    .front-banner{
        flex-direction: column;
        padding-bottom: 200px;
    }

    .front-banner-image {
        width : 90vw;
        height: 100%;
        text-align: center;
    }

    .bottom-right-image {
        position: static;
        margin-top: 38px;
        height: 100%;
        width: auto;
        object-fit: contain;
      }
    .front-banner-content {
        width: 100%;
        text-align: center;
    }
    .front-banner-content-heading {
        font-size: 2.5rem;
        font-weight: 700;
        text-align: center;
    }

    .Sponser-div {
        min-height: auto;
    }
    .sponser_hed{
        padding: 50px 0 !important;
        margin: 0;
    }
    .card-container{
        width: 45%;
        text-align: center;
    }
    
    .sponser-list {
        justify-content: center;
    }

    .Rotor-div{
        flex-direction: column;
        height: auto;
    }
    .rotor_hed{
        width: 100%!important;
        font-weight: 700!important;
    }
    .Rotor-box0{
        padding-bottom: 30px;
        width: 70%;
    }
    .Rotor-box1{
        width: 100%;
        text-align: center;
        align-items: center;
        padding: 0 10%;

    }
    .Rotor-box1 h3{
        font-size:large;
        padding: 20px 0;
    }
    .Rotor-box2{
        display: none;
    }
    .Rotor-line{
        margin: auto;
    }
    .rotortext{
        font-size: 1.5rem;
    }
    .Rotor-box1 .btn{
        display: block;
        margin: 10px 10px;
        width: 80vw;
        font-weight: 700;
        height: 50px;
    }

    .cust-sup-div{
        flex-direction: column;
        height: auto;
    }
    .supt_hed{
        padding: 10px 0;
    }
    .cs-box1 {
        width: 100%;
        text-align: center;
        padding: 30px;
    }
    .custbtn .btn{
        width: 100%;
        font-weight: 700;
        height: 50px;
    }
    .cs-box2 {
        width: 90%;
        text-align: center;
    }
    .cs-box2 img{
        width: 80%;
    }

    .games-div{
        height: auto;

    }
    
    .games-div .btn{
        display: block;
        width: 90vw;
        font-weight: 700;
        height: 50px;
        margin-bottom: 30px;
    }
    .games-div h2{
        padding: 20px 0;
    }
    .games-logo-container{
        flex-direction: column;
        align-items: center;

    }
    .games-logo-container .card-container{
        width: 60%;
    }
    .games-content{
        font-size: large;
        padding: 5px 0;
        margin: 0 5%;
    }
    .center-image{
        width:100%
    }

    .whybox{
        flex-direction: column;
    }

    .instagram-container{
        flex-direction: column;
        align-items: center;
        padding: 40px 0;
    }
    .insta-icons{
        text-align: center;
        width: 100vw;
        height: auto;
        border: 3px solid goldenrod;
        background-color: black;
    }

    .contact-container{
        flex-direction: column;
        align-items: center;
    }
    .contact-outer-div {
        padding: 10px;
    }
    .contact-box1{
        width: 100%;
    }
    .contact-box2{
        width: 100%;
        text-align: center;
        align-items: center;
    }
    .contact-content{
        justify-content: center;
        padding: 20px 0;
    }

    .contact-box2 .btn{
        display: block;
        width: 90%;
        font-weight: 700;
        height: 50px;
        margin: 10px auto;
    }



    .WrapperTransparent{
        background-color: #00000085;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
      }
      .frontLeft{
        width: 100vw;
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .frontLeft .logo img{
        object-fit:fill;
        height: 400px;
      }
      .frontRight{
        width: 100vw;
        margin: 0 0;
        text-align: center;
      }

    
  }
  